body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;
font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.wrapper{width: 1100px;margin: 0 auto;}
.login-header{height: 130px; line-height: 130px;widows: 100%;background-color: #fff;}
.login-header .nj-login{float:left;background-image: url(../images/logo.png);width: 160px;height: 50px;vertical-align: middle;display: inline-block;margin-top: 39px}
.login-header .nj-title{float:left;font-family:'微软雅黑';display: inline-block;vertical-align: middle;color: #057ed9;font-size: 29px;}
.login-header .divider-line{float:left;width: 1px ;height: 60px;background-color: #dfdddd;display: inline-block;vertical-align: middle;margin: 38px 20px 0;}
.login-content{background-image: url(../images/backgroundimg.png);height: 100%;background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;}
.login-content div.wrapper{position: relative;height: 100%;}
.login-content .login-main/* background-image: url(../images/login-tips.png); */{width: 100%;height: 100%;background-repeat: no-repeat;background-position: 20px center;position: relative;}
.login-content .login-main .login{border-radius: 20px;width: 364px;height: 320px;box-sizing: border-box;padding: 30px 33px;position: absolute;right: 20px;top: 50%;margin-top: -160px;}

.login-footer{height: 115px;line-height: 115px;color: #a1a1a1;font-size: 14px;text-align: center;}
input{outline: none;border: none;width: 100%;height: 40px;line-height: 40px;color: #A1A1A1;}
.login form li{padding: 10px 0;position: relative;overflow: hidden;}
.login form li input{padding-left: 30px;}
.login form input.authCode{width: 133px;text-indent: 0px;margin-right: 20px;float: left;}

.icon{background-repeat: no-repeat;background-size: contain;position: absolute;top: 50%;left: 50%;}
.icon.ion-user{background-image: url(../images/ion-user.jpg);width: 13px;height: 13px;margin-top: -7px;margin-left: 7px;left: auto;}
.icon.ion-pwd{background-image: url(../images/ion-pwd.jpg);width: 15px;height: 13px;left: auto;margin-left: 8px;margin-top: -7px;}
.button{background-color: #FFFFFF;color: #000;text-align: center;padding: 5px 0;font-size: 18px;cursor: pointer;}
.button.button-block{width: 100%;display: block;}
.button.button-color1{background-color: #feb23b;color: #FFFFFF;}
.qcode{width: 100px;background-color: #b8e5fe;}
.qcode,.next-btn{height:20px;display: inline-block;font-size: 12px;line-height: 40px;text-align: center;float: left;cursor: pointer;}
.next-btn{width: 100px;height: 40px;background-color: #4ebffc;color: #FFFFFF;}
.icon.ion-plane{background-image: url(../images/ion-plane.png);width: 121px;height: 58px;background-repeat: no-repeat;background-size: 100% 100%;top:177px;left: 333px;}
.fly{-moz-animation: anim-fly  10s ease infinite;-webkit-animation: anim-fly  10s ease infinite;-ms-animation: anim-fly  10s ease infinite;animation: anim-fly  10s ease infinite;}
@-webkit-keyframes anim-fly{
	10%{
        -webkit-transform:rotate(0deg) translateY(0px);
	}
	20%{
        -webkit-transform:rotate(-4deg) translateY(10px);
	}
	30%{
       -webkit-transform:rotate(0deg) translateY(0);
	}
	40%{
        -webkit-transform:rotate(0deg) translateY(-4px);
	}
	50%{
        -webkit-transform:rotate(0deg) translateY(0);
	}
	90%{
        -webkit-transform:rotate(8deg) translateY(0);
	}
	100%{
        -webkit-transform:rotate(4deg) translateY(5px);
	}
}
@-moz-keyframes anim-fly{
	10%{
        -moz-transform:rotate(0deg) translateY(0px);
	}
	20%{
        -moz-transform:rotate(-4deg) translateY(10px);
	}
	30%{
       -moz-transform:rotate(0deg) translateY(0);
	}
	40%{
        -moz-transform:rotate(0deg) translateY(-4px);
	}
	50%{
        -moz-transform:rotate(0deg) translateY(0);
	}
	90%{
        -moz-transform:rotate(8deg) translateY(0);
	}
	100%{
        -moz-transform:rotate(4deg) translateY(5px);
	}
}
@-ms-keyframes anim-fly{
	10%{
        -ms-transform:rotate(0deg) translateY(0px);
	}
	20%{
        -ms-transform:rotate(-4deg) translateY(10px);
	}
	30%{
       -ms-transform:rotate(0deg) translateY(0);
	}
	40%{
        -ms-transform:rotate(0deg) translateY(-4px);
	}
	50%{
        -ms-transform:rotate(0deg) translateY(0);
	}
	90%{
        -ms-transform:rotate(8deg) translateY(0);
	}
	100%{
        -ms-transform:rotate(4deg) translateY(5px);
	}
}
@keyframes anim-fly{
	10%{
        transform:rotate(0deg) translateY(0px);
	}
	20%{
        transform:rotate(-4deg) translateY(10px);
	}
	30%{
       transform:rotate(0deg) translateY(0);
	}
	40%{
        transform:rotate(0deg) translateY(-4px);
	}
	50%{
        transform:rotate(0deg) translateY(0);
	}
	90%{
        transform:rotate(8deg) translateY(0);
	}
	100%{
        transform:rotate(4deg) translateY(5px);
	}
}


