<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shd.dao.mapper.SysCfgMapper">
  <resultMap id="BaseResultMap" type="com.shd.model.pojo.SysCfg">
    <id column="CFG_ID" jdbcType="VARCHAR" property="cfgId" />
    <result column="CFG_CODE" jdbcType="VARCHAR" property="cfgCode" />
    <result column="CFG_VALUE" jdbcType="VARCHAR" property="cfgValue" />
    <result column="CFG_DESC" jdbcType="VARCHAR" property="cfgDesc" />
    <result column="RECORD_STATE" jdbcType="VARCHAR" property="recordState" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER_ID" jdbcType="VARCHAR" property="modifyUserId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CFG_ID, CFG_CODE, CFG_VALUE, CFG_DESC, RECORD_STATE, CREATE_USER_ID, CREATE_TIME, 
    MODIFY_USER_ID, MODIFY_TIME
  </sql>
  <select id="selectByExample" parameterType="com.shd.model.pojo.SysCfgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_cfg
    where CFG_ID = #{cfgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_cfg
    where CFG_ID = #{cfgId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shd.model.pojo.SysCfgExample">
    delete from sys_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shd.model.pojo.SysCfg">
    insert into sys_cfg (CFG_ID, CFG_CODE, CFG_VALUE, 
      CFG_DESC, RECORD_STATE, CREATE_USER_ID, 
      CREATE_TIME, MODIFY_USER_ID, MODIFY_TIME
      )
    values (#{cfgId,jdbcType=VARCHAR}, #{cfgCode,jdbcType=VARCHAR}, #{cfgValue,jdbcType=VARCHAR}, 
      #{cfgDesc,jdbcType=VARCHAR}, #{recordState,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shd.model.pojo.SysCfg">
    insert into sys_cfg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cfgId != null">
        CFG_ID,
      </if>
      <if test="cfgCode != null">
        CFG_CODE,
      </if>
      <if test="cfgValue != null">
        CFG_VALUE,
      </if>
      <if test="cfgDesc != null">
        CFG_DESC,
      </if>
      <if test="recordState != null">
        RECORD_STATE,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cfgId != null">
        #{cfgId,jdbcType=VARCHAR},
      </if>
      <if test="cfgCode != null">
        #{cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgValue != null">
        #{cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="cfgDesc != null">
        #{cfgDesc,jdbcType=VARCHAR},
      </if>
      <if test="recordState != null">
        #{recordState,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shd.model.pojo.SysCfgExample" resultType="java.lang.Long">
    select count(*) from sys_cfg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_cfg
    <set>
      <if test="record.cfgId != null">
        CFG_ID = #{record.cfgId,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgCode != null">
        CFG_CODE = #{record.cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgValue != null">
        CFG_VALUE = #{record.cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgDesc != null">
        CFG_DESC = #{record.cfgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.recordState != null">
        RECORD_STATE = #{record.recordState,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUserId != null">
        MODIFY_USER_ID = #{record.modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_cfg
    set CFG_ID = #{record.cfgId,jdbcType=VARCHAR},
      CFG_CODE = #{record.cfgCode,jdbcType=VARCHAR},
      CFG_VALUE = #{record.cfgValue,jdbcType=VARCHAR},
      CFG_DESC = #{record.cfgDesc,jdbcType=VARCHAR},
      RECORD_STATE = #{record.recordState,jdbcType=VARCHAR},
      CREATE_USER_ID = #{record.createUserId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_USER_ID = #{record.modifyUserId,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shd.model.pojo.SysCfg">
    update sys_cfg
    <set>
      <if test="cfgCode != null">
        CFG_CODE = #{cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgValue != null">
        CFG_VALUE = #{cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="cfgDesc != null">
        CFG_DESC = #{cfgDesc,jdbcType=VARCHAR},
      </if>
      <if test="recordState != null">
        RECORD_STATE = #{recordState,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CFG_ID = #{cfgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shd.model.pojo.SysCfg">
    update sys_cfg
    set CFG_CODE = #{cfgCode,jdbcType=VARCHAR},
      CFG_VALUE = #{cfgValue,jdbcType=VARCHAR},
      CFG_DESC = #{cfgDesc,jdbcType=VARCHAR},
      RECORD_STATE = #{recordState,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where CFG_ID = #{cfgId,jdbcType=VARCHAR}
  </update>
</mapper>